body {
    margin: 0;
    font-family: monospace;
}

th {
    font-size: 20px;
    font-style: bold;
}

tr {
    text-align: center;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
}

#page-header {
    display: flex;
    font-size: x-large;
    color: white;
    justify-content: center;
    margin: 0 auto;
    background: green;
    height: 8rem;
}

#double-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#watchlist {
    float: left;
    width: auto;
    height: auto;
    margin: 30px;
}

#top-stocks {
    float: left;
    width: auto;
    height: auto;
    margin: 30px;
}

#form-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#ticker {
    height: 100px;
    width: 250px;
    font-size: 35px;
    text-align: center;  
}

#searchContainer {
    margin: 30px;
}

#resultsTable {
    width:100%;
    border: 1px solid;
}

input[type="submit"] {
    cursor: pointer;
    height: 100px;
    width: 200px;
    font-size: 35px;
}

input[type="submit"]:hover {
    background-color: greenyellow;
}
